<form action="respostaMainQuestion" method="post">
  <p>Se você pudesse perguntar algo a Eistein, o que seria?</p>
  <input type="text" name="mainQuestion" value="">
  <button type="submit" name="button"></button>
</form>
