<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>FiltroCORSGeral</filter-name>
        <filter-class>com.aistein.controller.FiltroCORSGeral</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroCORSGeral</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>JogoServlet</servlet-name>
        <servlet-class>com.aistein.controller.JogoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.aistein.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoServlet</servlet-name>
        <servlet-class>com.aistein.controller.AlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConteudoServlet</servlet-name>
        <servlet-class>com.aistein.controller.ConteudoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>com.aistein.controller.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagemServlet</servlet-name>
        <servlet-class>com.aistein.controller.ImagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>com.aistein.controller.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerguntaServlet</servlet-name>
        <servlet-class>com.aistein.controller.PerguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorServlet</servlet-name>
        <servlet-class>com.aistein.controller.ProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionarioServlet</servlet-name>
        <servlet-class>com.aistein.controller.QuestionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespostaServlet</servlet-name>
        <servlet-class>com.aistein.controller.RespostaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.aistein.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JogoServlet</servlet-name>
        <url-pattern>/JogoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoServlet</servlet-name>
        <url-pattern>/AlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConteudoServlet</servlet-name>
        <url-pattern>/ConteudoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/GeneroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagemServlet</servlet-name>
        <url-pattern>/ImagemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/MateriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerguntaServlet</servlet-name>
        <url-pattern>/PerguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorServlet</servlet-name>
        <url-pattern>/ProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionarioServlet</servlet-name>
        <url-pattern>/QuestionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespostaServlet</servlet-name>
        <url-pattern>/RespostaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
